<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> HALLOOOOO </title>

</head>
<body>
    <form class="resultaten" action="" name="form" onsubmit="return checkform()" method="post">
        <div>
            <p>Wat is antwoord 1 ?? <input class="w3-input w3-border" type="text" name="answer1" required /></p>
        </div>
        <div>
            <p>Wat is antwoord 2 ?? <input class="w3-input w3-border" type="text" name="answer2" required /></p>
        </div>
        <div>
            <p>Wat is antwoord 3 ?? <input class="w3-input w3-border" type="text" name="answer3" required /></p>
        </div>
        <div>
            <p>Wat is antwoord 4 ?? <input class="w3-input w3-border" type="text" name="answer4" required /></p>
        </div>
        <div>
            <p>Wat is antwoord 5 ?? <input class="w3-input w3-border" type="text" name="answer5" required /></p>
        </div>
        <div>
            <p>Wat is antwoord 6 ?? <input class="w3-input w3-border" type="text" name="answer6" required /></p>
        </div>
        <div>
            <p>Wat is antwoord 7 ?? <input class="w3-input w3-border" type="text" name="answer7" required /></p>
        </div>
        <div>
            <p>Wat is antwoord 8 ?? <input class="w3-input w3-border" type="text" name="answer8" required /></p>
        </div>
        <div>
            <p>Wat is antwoord 9 ?? <input class="w3-input w3-border" type="text" name="answer9" required /></p>
        </div>
        <div>
            <p>Wat is antwoord 10 ?? <input class="w3-input w3-border" type="text" name="answer10" required /></p>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>

    </form>

</body>
</html>