{% extends "layout.html" %}

{% block content %}

<body>
    <table>
        <tr>
            <th>Jouw Resultaten</th>
            <th>Antwoorden</th>
        </tr>
        <tr>
            <td><p>You are not allowed (smoke)<input class="w3-input w3-border" type="text" name="answer1" placeholder="{{ givenAnswersG1[0] }}" />on the airplane.</p></td>
            <td><p>{{ rightAnswersG1[0] }}</p></td>
        </tr>
        <tr>
            <td><p>I couldn't help (laugh)<input class="w3-input w3-border" type="text" name="answer2" placeholder="{{ givenAnswersG1[1] }}" />when he tripped!</p></td>
            <td><p>{{ rightAnswersG1[1] }}</p></td>
        </tr>
        <tr>
            <td><p>I enjoy (go)<input class="w3-input w3-border" type="text" name="answer3" placeholder="{{ givenAnswersG1[2] }}" />to clubs.</p></td>
            <td><p>{{ rightAnswersG1[2] }}</p></td>
        </tr>
        <tr>
            <td><p>She expects people (help)<input class="w3-input w3-border" type="text" name="answer4" placeholder="{{ givenAnswersG1[3] }}" />her, but she never helps </p></td>
            <td><p>{{ rightAnswersG1[3] }}</p></td>
        </tr>
        <tr>
            <td><p>My doctor advised me (quit)<input class="w3-input w3-border" type="text" name="answer5" placeholder="{{ givenAnswersG1[4] }}" />smoking. </p></td>
            <td><p>{{ rightAnswersG1[4] }}</p></td>
        </tr>
        <tr>
            <td><p>Please stop (shout)<input class="w3-input w3-border" type="text" name="answer6" placeholder="{{ givenAnswersG1[5] }}" />. I can hear you fine!</p></td>
            <td><p>{{ rightAnswersG1[5] }}</p></td>
        </tr>
        <tr>
            <td><p>I don't feel like (cook)<input class="w3-input w3-border" type="text" name="answer7" placeholder="{{ givenAnswersG1[6] }}" />tonight.</p></td>
            <td><p>{{ rightAnswersG1[6] }}</p></td>
        </tr>
        <tr>
            <td><p>Would you mind (open)<input class="w3-input w3-border" type="text" name="answer8" placeholder="{{ givenAnswersG1[7] }}" />the window? It's very hot</p></td>
            <td><p>{{ rightAnswersG1[7] }}</p></td>
        </tr>
        <tr>
            <td><p>P1: My remote control doesn't work. P2: Try  (change)<input class="w3-input w3-border" type="text" name="answer9" placeholder="{{ givenAnswersG1[8] }}" />the batteries.</p></td>
            <td><p>{{ rightAnswersG1[8] }}</p></td>
        </tr>
        <tr>
            <td><p>In Los Angeles, (smoke)<input class="w3-input w3-border" type="text" name="answer10" placeholder="{{ givenAnswersG1[9] }}" />is not allowed in any building. </p></td>
            <td><p>{{ rightAnswersG1[9] }}</p></td>
        </tr>
    </table>
    <p>Jouw score: {{ score }}%</p>
</body>

{% endblock %}