{% extends "layout.html" %}

{% block content %}

<body>
    <form class="resultaten" action="" name="form" onsubmit="return checkform()" method="post">
        <h1>Easy Exercise </h1>
        <div>
            <p>You are not allowed (smoke)<input class="w3-input w3-border" type="text" name="answer1" required />on the airplane.</p>
        </div>
        <div>
            <p>I couldn't help (laugh)<input class="w3-input w3-border" type="text" name="answer2" required />when he tripped!</p>
        </div>
        <div>
            <p>I enjoy (go)<input class="w3-input w3-border" type="text" name="answer3" required />to clubs.</p>
        </div>
        <div>
            <p>She expects people (help)<input class="w3-input w3-border" type="text" name="answer4" required />her, but she never helps </p>
        </div>
        <div>
            <p>My doctor advised me (quit)<input class="w3-input w3-border" type="text" name="answer5" required />smoking. </p>
        </div>
        <div>
            <p>Please stop (shout)<input class="w3-input w3-border" type="text" name="answer6" required />. I can hear you fine!</p>
        </div>
        <div>
            <p>I don't feel like (cook)<input class="w3-input w3-border" type="text" name="answer7" required />tonight.</p>
        </div>
        <div>
            <p>Would you mind (open)<input class="w3-input w3-border" type="text" name="answer8" required />the window? It's very hot</p>
        </div>
        <div>
            <p>P1: My remote control doesn't work. P2: Try  (change)<input class="w3-input w3-border" type="text" name="answer9" required />the batteries.</p>
        </div>
        <div>
            <p>In Los Angeles, (smoke)<input class="w3-input w3-border" type="text" name="answer10" required />is not allowed in any building. </p>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>

    </form>
</body>

{% endblock %}