{% extends "layout.html" %}

{% block content %}

<body>
    <form class="resultaten" action="" name="form" onsubmit="return checkform()" method="post">
        <h1>Hard Exercise </h1>
        <p>James offered (to help / helping)<input class="w3-input w3-border" type="text" name="answer1" required />us move. </p>
        <p>What do you want (to do / doing)<input class="w3-input w3-border" type="text" name="answer2" required />tonight?</p>
        <p>Her daughter decided (to become / becoming)<input class="w3-input w3-border" type="text" name="answer3" required />a veterinarian. </p>
        <p>I have decided on (to become / becoming)<input class="w3-input w3-border" type="text" name="answer4" required />a veterinarian. </p>
        <p>I hope (to travel / traveling)<input class="w3-input w3-border" type="text" name="answer5" required />to Greece this summer. </p>
        <p>The man from Brazil appears (to be / being)<input class="w3-input w3-border" type="text" name="answer6" required />. the best dancer in the group.</p>
        <p>I learned (to speak / speaking)<input class="w3-input w3-border" type="text" name="answer7" required />French while I was living in Switzerland.</p>
        <p>I remember (to see / seeing)<input class="w3-input w3-border" type="text" name="answer8" required />her at the beach last week.</p>
        <p>Don't forget (to call / calling)<input class="w3-input w3-border" type="text" name="answer9" required /> your mother! </p>
        <p>She promised (to go / going)<input class="w3-input w3-border" type="text" name="answer10" required />to the theater with me.</p>
        <div>
            <button type="submit">Nakijken!</button>
        </div>

    </form>
</body>

{% endblock %}