{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>DEV 6B Herkansing</h1>
    <p class="lead">Deze Herkansing is een individuele opdracht waarbij er minimaal 2 onderdelen moeten worden gemaakt in combinatie met de pipeline (jenkins).</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gerund Infinitive (Easy)</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="{{ url_for('Ex_easy') }}">Contact</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gerund Infinitive (Medium)</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="{{ url_for('contact') }}">Contact</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gerund Infinitive (Hard)</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="{{ url_for('contact') }}">Contact</a></p>
    </div>
</div>

{% endblock %}
