{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>DEV 6B Herkansing</h1>
    <p class="lead">Deze Herkansing is een individuele opdracht waarbij er minimaal 2 onderdelen moeten worden gemaakt in combinatie met de pipeline (jenkins). Ik heb voor deze opdracht 3 niveaus genomen om het wat meer compleet te maken. Ik heb de niveau's Easy, Medium, Hard. Als alles ingevuld is zul je de antwoorden op de volgende pagina zien met je behaalde score.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gerund Infinitive (Easy)</h2>
        <p>Dit is de meest makkelijke oefening van de Gerund/Infinitive</p>
        <p><a class="btn btn-default" href="{{ url_for('Ex_easy') }}">Ga naar de Oefening</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gerund Infinitive (Medium)</h2>
        <p>Dit is een gemiddelde oefening van de Gerund/Infinitive</p>
        <p><a class="btn btn-default" href="{{ url_for('Ex_medium') }}">Ga naar de Oefening</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gerund Infinitive (Hard)</h2>
        <p>Dit is een moeilijke oefening van de Gerund/Infinitive</p>
        <p><a class="btn btn-default" href="{{ url_for('Ex_hard') }}">Ga naar de Oefening</a></p>
    </div>
</div>

{% endblock %}
