{% extends "layout.html" %}

{% block content %}

<body>
    <form class="resultaten" action="" name="form" onsubmit="return checkform()" method="post">
        <h1>Medium Exercise </h1>
        <div>
            <p>When I mentioned (to get / getting)<input class="w3-input w3-border" type="text" name="answer1" required />married, she didn't say anything.</p>
        </div>
        <div>
            <p>If he keeps (to steal / stealing)<input class="w3-input w3-border" type="text" name="answer2" required />things from work, he's going to get fired.</p>
        </div>
        <div>
            <p>Bill enjoys (to read / reading)<input class="w3-input w3-border" type="text" name="answer3" required />mystery novels.</p>
        </div>
        <div>
            <p>I plan (to go / going)<input class="w3-input w3-border" type="text" name="answer4" required />to college in the fall. </p>
        </div>
        <div>
            <p>I suggested (to go / going)<input class="w3-input w3-border" type="text" name="answer5" required />to a restaurant after the movie.</p>
        </div>
        <div>
            <p>The doctor wants (to speak / speaking)<input class="w3-input w3-border" type="text" name="answer6" required />with you.</p>
        </div>
        <div>
            <p>I really miss (to work / working)<input class="w3-input w3-border" type="text" name="answer7" required />as a flight attendant.</p>
        </div>
        <div>
            <p>The little boy's teacher asked (to talk / talking)<input class="w3-input w3-border" type="text" name="answer8" required />with his mother.</p>
        </div>
        <div>
            <p>I plan on  (to go / going)<input class="w3-input w3-border" type="text" name="answer9" required />to college in the fall. </p>
        </div>
        <div>
            <p>I don't mind (to play / playing)<input class="w3-input w3-border" type="text" name="answer10" required />with your cat. I love cats.</p>
        </div>
        <div>
            <button type="submit">Nakijken!</button>
        </div>

    </form>
</body>

{% endblock %}